<!DOCTYPE html>
<html>

<head>
    <title>Upload ASUP</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">
        <h2>DATA ANALYSIS DONE RIGHT!!!</h2>
        <img src="{{url_for('static', filename='zen.png')}}" width="60%" height="45%">
        <h1>Upload ASUP</h1>
        <form method=post enctype=multipart/form-data>
            <input type=file name=ASUP>
            <input type=submit value=Upload>
        </form>
    </div>
</body>

</html>
